<p>Bonne Chance <%= username %></p>
<section class="game" id="<%= gameStatut %>">
    <header>
        <h2>The Game</h2>
    </header>
    <ul id="dice-results">
        <li id="dice-1"></li>
        <li id="dice-2"></li>
        <li id="dice-3"></li>
        <li id="dice-4"></li>
        <li id="dice-5"></li>
    </ul>
    <button id="play">PLAY</button>
    <p id="chance">Chance: <%= chanceCount %></p>
    <p id="game-result"></p>
</section>

<section class="finish" id="<%= gameStatut %>">
    <h2> Le jeu est terminer</h2>
    <p>  si vous avez gagner un mail vous a était envoyer avec un code pour récupérer vos gains en boulangerie</p>
</section>
<script src="/js/Game.js"></script>

<%- include('stat')%>
